*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #0a112B;
    --secondary-color: coral;
    --white-color: #FFFFFF;
    --dark-gray-color: #2e3038;
    --light-gray-color: #EEE;
    --light-gray-color-medium: #8f8585;
    --gap:3rem;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Open sans', sans-serif;
    font-size: 1.6rem;
    color: var(--white-color)
} 

h1,h2,h3,h4,h5,h6{
    font-family:"Montserrat", sans-serif;
}

h1{
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 6rem;
  text-transform: uppercase;
}

h2{
    font-size: 5.5rem;
    text-transform: uppercase;
    margin-bottom: 5rem;
}

h3{
    font-size: 5rem;
}

h4{
    font-size: 4.5rem;
}

h5{
    font-size: 4rem;
}

h6{
    font-size: 3.5rem;
}

a {
    text-decoration: none;
}

p{
    line-height: 3rem;
    margin-bottom: 2rem;
}
.menu {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.2rem solid var(--light-gray-color);
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--primary-color);
}

.menu h1 a {
    color:inherit;
}

.menu-content{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    color: var(--primary-color);
    padding-top: 0;
    padding-bottom: 0;
}

.menu ul {
    list-style: none;
    display:flex;
}

.menu ul li a{
    display:block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    position: relative;
    width: 100%;
    /* margin: 0 auto; */
}

.menu ul li a::after {
    content: '';
    position: abosolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: crimson;
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after{
    width: 50%;
    left: 25%;
    /* border-bottom: 0.2rem solid crimson; */
}


.main-bg{
    background-color: var(--primary-color);
    background-image: url('../img/bg.svg');
    background-size: cover;
    background-position: center center;
}

.main-content {
    max-width: 120rem;
    padding: var(--gap);
     margin: 0 auto;
    
    
}

.white-bg {
    background-color: var(--white-color);
    color:var(--primary-color);
}

.section-max{
    min-height: 100vh;
    padding-top: 9rem;
}

/* SESSÃO INTRO */

.intro-content{
    display:grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    height: 100vh;
  
   
}


.intro-text-content, 
.intro-img {
    display:flex;
    flex-flow: column wrap;
    justify-content: center; 

}

.intro-img img {
    max-width: 100%;
    height: auto;
}


/* SESSÃO TOP 3 */

.top-3 {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0 auto; 
    max-width: 64rem;
    min-height: 100vh;
}

.grid-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    /* contador em css */
    counter-reset: grid-counter;

}

.grid-main-heading{
    margin-bottom: 1rem;
}

.grid-main-description {
    padding-bottom: 5rem;
}

.grid-content h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 3rem;

}


.grid-content h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position:absolute;
    font-size: 8rem;
    padding-right: 2rem;
    top: -2.2rem;
    left:-1rem;
    transform: rotate(5deg);
    color: var(--secondary-color);
}

/* SESSAO GALLERY */

.gallery-img {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;


}

.gallery-img img {
    max-width: 36rem;
    max-height: 36rem;
    transition: all 300ms ease-in-out;
    align-items:center;
}

.gallery-img img:hover {
    transform: translate(-3% , 3%) scale(1.2) rotate(1deg);
}


/* SESSÃO PRICING */

.white-bg p:hover{
    color: var(--white-color);
    background: linear-gradient(var(--primary-color), #9198e5);
    transition: all 500ms ease-in-out;
    
}

.responsive-table {
    overflow: hidden;
    overflow-x: auto;
}

table {
    min-width:36rem;
    width: 100%;
    border-collapse: collapse;
}

table caption {
    font-style: italic;
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 1rem;
}

table td, table th {
    white-space: nowrap;
    padding: 1rem;
    text-align: left;
    border: 0.1rem solid var(--light-gray-color)
}

tfoot td, table th {
    background-color: var(--light-gray-color);
}


/* FORM CONTACT */

.contact-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--gap);
    min-height: 100vh;
}



.contact-heading,
.contact-img {
    display:flex;
    flex-flow: column wrap;
    justify-content: center; 

}

.contact-img img {
    max-width: 100%;
    height: auto;
}

.contact-form {
    grid-column: span 2;
}

.contact-form .form-grid {
    border: none;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap)
}

.form-grid legend {
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.form-group {
    flex: 1 1 32rem;
}

.form-group label{
    display:block;
    margin-bottom: 1rem;
}

.form-group input,
.form-group textarea {
    border: none;
    background-color: var(--white-color);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 2.5rem;
    outline: none;
    transition: all 300ms ease-in-out;

}

.form-group input:focus,
.form-group textarea:focus {
    box-shadow: 0px 0px 10px 2px var(--secondary-color);
}
    
.full-width {
    width: 100%;
    flex: 1 1 100%;

}

.form-group button {
    border: 0.2rem solid var(--white-color);
    background: var(--white-color);
    color: var(--primary-color);
    padding: 1.5rem 2rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;


}

.form-group button:hover{
    background-color: var(--primary-color);
    color: var(--white-color)
}

.form-group ::placeholder{
    color: var(--light-gray-color-medium)
}

.footer{
    text-align: center;
}

.footer a{
    color: inherit;
}
.footer p{
    color: #0a112B;
    margin: 3rem;
}

.footer .heart{
    color: var(--secondary-color);
}


/* 
.menu {
    display: none;
} */

.back-to-top{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--white-color);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--primary-color);
    transform: rotate(-90deg);
    border: 0.1rem solid var(--primary-color);
}


@media (max-width: 800px) {
    .intro-content, .grid-content {
        grid-template-columns: 1fr;
    }

    .gallery-img {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .gallery-img img{
        width: 100%;
    }

    .menu {
        bottom: 0;
    }   

    .menu-content, .menu-content ul  {
        flex-direction: column;
        justify-content: center;

    }
    .menu-content {
        height: 100vh;
    }


    .menu{
        display: none;
    }

    .close-menu {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
     }


    .close-menu::after {
        content: '☰';
        /* content: ''; */
        z-index: 2;
        top: 2rem;
        left: 4rem;
        background-color: var(--primary-color);
        color: var(--white-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 2rem;
        height: 2rem;

        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
    }

    .close-menu:checked~.menu {
        display:block;
        transition: all 300ms ease-in-out;
    }

    .close-menu:checked~.close-menu-label::after {
        display: block;
       content: '☒';
       
    }
}